<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Presets">
        <setting id="shufflePresets" type="bool" label="Shuffle Presets" default="true"/>
        <setting id="shufflePresetsDelay" type="number" label="Preset Time (sec)" value="30"/>
        <setting id="shufflePresetsNonuniform" type="bool" label="Non-uniform randomization" default="true"/>
        

    </category>
</settings>
